/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* UTILITIES
/*******************************************/

/* Box Sizing */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Open Sans', sans-serif;
}

/******************************************
/* LAYOUT
/*******************************************/

#container {
  width: 960px;
  margin: auto;
}

header {
  background-color:#033048;
  float: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;

}

header h1 {
  font-weight: 700;
font-size: 24px;
color: #ffffff;
padding-top: 10px;
padding-left: 60px;
padding-bottom: 10px;
float: left;
width: 20%;

}

.top-nav{
  color: #f9e42e;
  float: right;
  width: 80%;
  list-style-type: none;
  text-align: center;
  padding: 10px 10px 10px 10px;

}

.top-nav li {
  float: right;
  width: 10%;
  text-align: center;
  list-style-type: none;
  padding-top: 10px;
}

.nav {
  font-size: 14px;
  color: #f9e42e ;
  text-align: center;
  font-weight: 300;
}

header a {
  text-decoration: none;
}

.articles {
  width: 73%;
  float: left;

}

.article-header {
  padding-right: 50px;
}

img {
  max-width: 90%;
  margin: auto;
  padding-top: 20px;
}

/*.gutter {
  float: left;
  width: 20px;
  height: 300px;
  overflow: auto;
}*/

aside {
  float: left;
  width:27%;

}

main {
  background-color:#f0efef;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 100px;
}

article h2 {
  font-size: 30px;
  font-weight: 500px;
  color: #033048;

}
  article h3 {
  font-size: 35px;
  font-weight: 500px;
  color: #033048;
}

article {
  border-bottom-color: #033048;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  padding: 30px 0px 10px 40px;
  width: 100%;
/*  margin: 0;*/

 
}


footer p{
font-weight: 600;
font-size: 9px;
color: white;
text-align: center;
padding-top: 10px;
padding-bottom: 10px;
vertical-align: center;

}

footer {
  background-color: #121212;
  margin: auto;
  text-align: center;
  overflow: auto;
  float: left;
  width: 100%;
  padding-top: 25px;

}

.social-media {
  padding: 20px 0 25px 0;

}

footer h1{
font-size: 24px;
font-weight: 800;
color:#f9e42e;
padding-top: 20px;
padding-bottom: 10px;
}

.twitter {
  padding-right: 20px ;
  padding-bottom: 15px;

}

.fb {
  padding-left: 20px;
  padding-bottom: 15px;
}

a {
    color: #033048;
    text-decoration: none;

}

a:hover {
  text-decoration: underline;
}

h4, h5 {
  font-size: 32px;
  font-weight: 800;
  color: #033048;
  padding: 30px 1px;
  overflow: auto;

}

article p {
  font-size: 24px;
  font-weight: 300;
    color: #033048;
}
.read-more {
font-size: 24px;
font-weight: 500;
  color: #033048;
  padding-left: 420px;
}

.sidenav {
  text-align: left;
  float: left;
  width: 100%;
  padding: 0px;


}

.sign-up {
  background-color: #f9e42e;
  padding: 30px 60px 30px 50px;
  box-sizing: border-box;
  
}

.signup-button {
  background-color: #033048;
  color: white;
  font-weight: 800;
  font-size: 20px;
  padding: 20px 100px;
  border-radius: 2px;
  box-shadow: none;
  border: none;
}

.sidenav li {
  text-align: left;
  float: left;
  text-align: left;
  width: 100%;
  font-size: 24px;
}

.about {
  font-size: 22px;
  font-weight: 300px;
  color: #033048;
 
}

.article-div {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 40px;
}

.article-body {
  color: #606161;
  font-size: 24px;

}

.article-body:first-letter { 
  float: left;
   color: #606161;
   font-size: 75px;
   line-height: 60px;
   padding-top: 4px;
   padding-right: 8px;
   padding-left: 3px; 
  }

.about-relaxr {
  padding-left: 10px;
  padding-right: 5px;
    padding-bottom: 30px;

}

.learn-more {
  font-size: 22px;
  color: #033048;
  font-weight: 700;


}