/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* UTILITIES
/*******************************************/

/* Box Sizing */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clearfix */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: 'Open Sans', sans-serif;
  color: #121212;
}

.logo {
  float: left;
  width: 25%;
  font-size: 30px;
  font-weight: 800;
  color: #fff;
  padding: 20px 0px;
}

.head-nav {
  float: left;
  width: 75%;

}

li {
  float: right;
  font-weight: 600;
  font-size: 24px;
  padding: 30px 0px 20px 20px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
}

img {
  width: 100%;
  padding: 10px 0px 10px 0px;
}

p {
  padding: 10px 0px 20px 0px;
}

main p:first-letter {
  font-weight: 600;
  font-size: 40px;
  display: inline-block;
  float: left;
  padding: 0px 5px 5px 0px;
  color: #121212;
}

.articles {
  padding: 40px 10px 40px 0px;
}

h5 {
  text-align: right;
  font-weight: 600;
  padding: 10px 0px 10px 0px;
}

.aside-nav {
  float: left;
  width: 100%;
  padding: 0px;
  font-weight: 300;
  font-size: 24;
}

.aside-nav li {
  padding: 4px 0px;
}

.about-relaxr {
  padding-top: 10px
}

strong {
  font-weight: 800;
  font-size: 24px;
}

h3 {
  font-weight: 800;
  font-size: 32px;
  padding-bottom: 10px;
}

.cta {
  background-color: #f9e42e;
  text-align: center;
  padding: 25px 0px;
}

button {
  font-family: 'Open Sans', sans-serif;
  background-color: #033048;
  padding: 10px 40px;
  border: 0px solid #033048;
  border-radius: 5px;
  font-size: 24px;
  font-weight: 600;
  color: #FFFFFF;
}

.footer-logo {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #f9e42e;
  padding: 20px;
}

.social {
  width: 9%;
  padding: 20px;
}

small {
  color: #fff;
  padding: 20px;
}

/******************************************
/* LAYOUT
/*******************************************/

#container {
  width: 960px;
  margin: auto;
}

body {
  background-color: #f0efef
}

header {
  background-color: #033048;
  padding: 10px 50px;
  color: #f9e42e;
}

article {
  margin-bottom: 30px;
}

/**div {
   padding: 0px 10px 0px 50px;
}
**/
footer {
   padding: 0px 50px;
   background-color: #121212;
   text-align: center;
}

main {
  float: left;
  width:75%;
  padding-right: 10px;
  padding-bottom: 30px;
}

aside {
  float: left;
  width: 25%;
  padding: 0px 0px 0px 10px;
}

.side-categories {
  margin-bottom: 40px;

}

.side-about-relaxr {
  margin-bottom: 40px;
  margin-top: 40px;
}



